<div class="container-fluid">
    <div class="bg-light">
        <div class="row">
            <div class="col">
                <div class="solicitante">
                    <div>Solicitante</div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Informe o solicitante"
                            [value]="userData.fullName" disabled>
                        <!--
                        <button class="btn btn-outline-secondary" type="button" id="btmSolicitante"><img
                                [src]="urlImagem" /></button>
                        -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>Empresa</div>
                <div class="input-group mb-3">
                    <select class="form-control" id="formControlCompany">
                        <label for="formControlCompany">Example select</label>
                            <option *ngFor="let company of companies" [value]="company.code">
                               {{ company.code }} - {{ company.companyname }}
                            </option>
                    </select>

                    <!--
                    <input type="text" class="form-control" placeholder="Informe a Empresa">
                    <button class="btn btn-outline-secondary" type="button" id="btnEmpresa"><img
                            [src]="urlImagem" /></button>
                    -->
                </div>
            </div>
            <div class="col-sm-6">
                <div>Posto de Trabalho</div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Informe o Posto de Trabalho" [value]="newChartPosition">
                    <button class="btn btn-outline-secondary" type="button" id="btnPostoTrabalho"><img
                            [src]="urlImagem" /></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>Estabelecimento</div>
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Informe o Estabelecimento">
                    <button class="btn btn-outline-secondary" type="button" id="btnEstabelecimento"><img
                            [src]="urlImagem" /></button>
                </div>
            </div>
            <div class="col-sm-6">
                <div>Cargo</div>
                <div class="input-group mb-3">
                    <select class="form-control" id="formControlJobPosition">
                        <label for="formControlJobPosition">Example select</label>
                            <option *ngFor="let jobPosition of jobPositions" [value]="jobPosition.code">
                                {{ jobPosition.code }} - {{ jobPosition.name }}
                            </option>
                    </select>

                    <!--
                    <input type="text" class="form-control" placeholder="Informe o Cargo">
                    <button class="btn btn-outline-secondary" type="button" id="btnCargo"><img
                            [src]="urlImagem" /></button>
                    -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div>Centro de Custo</div>
                <div class="input-group mb-3">

                    <select class="form-control" id="formControlCostCenter">
                        <label for="formControlCostCenter">Example select</label>
                            <option *ngFor="let costCenter of costCenters" [value]="costCenter.code">
                                {{costCenter.code}} - {{ costCenter.name }}</option>
                    </select>

                    <!--
                    <input type="text" class="form-control" placeholder="Informe o Centro de Custo">
                    <button class="btn btn-outline-secondary" type="button" id="btnCentroCusto"><img
                            [src]="urlImagem" /></button>
                    -->
                </div>
            </div>
            <div class="col-sm-6">
                <div>Departamento</div>
                <div class="input-group mb-3">
                    <select class="form-control" id="formControlDepartment">
                        <label for="formControlDepartment">Example select</label>
                            <option *ngFor="let department of departments" [value]="department.code">
                                {{department.code}} - {{ department.name }}</option>
                    </select>

                    <!--
                    <input type="text" class="form-control" placeholder="Informe o Departamento">
                    <button class="btn btn-outline-secondary" type="button" id="btnDepartamento"><img
                            [src]="urlImagem" /></button>
                    -->
                </div>
            </div>
        </div>
    </div>
</div>